@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  a:hover{
    color: #000;
  }
}

:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.featurebox {
  position: relative;
  margin: auto;
  padding-left: 7%;
  padding-top: 2em;
  width: 50%;
}

a.honey {
  --c: white;
  background-color: #8c5bb3;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

a span{
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.05s);
  z-index: -1;
}

a.honey:hover {
  color: black;
}

a.honey:hover span {
  transform: translateY(0) scale(2);
}

a span:nth-child(1) {
  --n: 1;
}

a span:nth-child(2) {
  --n: 2;
}

a span:nth-child(3) {
  --n: 3;
}

a span:nth-child(4) {
  --n: 4;
}

ul, li {
  z-index: 10;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}