Cassi{
    primary: '#13678a';
    secondary: '#9aeba3';
    tertiary: '#dafdba';
}
Brandon{
    primary: '#347355';
    secondary: '#4d8c20';
    tertiary: '#b6f25c';
}
Beef{
    primary: '#8c5bb3';
    secondary: 'faffbf';
    tertiary: 'efff40';
}